*
{
	margin: 0;
	padding: 0;
}

.button
{
	width: 50px;
	height: 50px;
	font-size: 25;
	margin: 2px;
	cursor: pointer;
	background: #607d8b;
	border: none;
	color: white;
}

.textview
{
	width: 202px;
	margin: 5px;
	font-size: 25;
	padding: 5px;
	border: 2px solid #607d8b;
	color: #607d8b;
}

.main
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.bg
{
	background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
	background-size: 400%;
	padding: 100%;
	animation: bganimation 15s infinite;
}

@keyframes bganimation
{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}